{% extends 'base.html.twig' %}

{% block title %}ObjetCarnet index{% endblock %}

{% block body %}
    <h1>ObjetCarnet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet_carnet in objet_carnets %}
            <tr>
                <td>{{ objet_carnet.id }}</td>
                <td>{{ objet_carnet.type }}</td>
                <td>{{ objet_carnet.contenu }}</td>
                <td>
                    <a href="{{ path('objet_carnet_show', {'id': objet_carnet.id}) }}">show</a>
                    <a href="{{ path('objet_carnet_edit', {'id': objet_carnet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objet_carnet_new') }}">Create new</a>
{% endblock %}
