{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <br>
        <h1>Liste des classes</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Annee</th>
                <th>Maitre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for classe in classes %}
                <tr>
                    <td>{{ classe.id }}</td>
                    <td>{{ classe.nom }}</td>
                    <td>{{ classe.annee }}</td>
                    <td>{{ classe.Maitre }}</td>
                    <td>
                        <a href="{{ path('classe_show', {'id': classe.id}) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('classe_edit', {'id': classe.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('classe_new') }}" class="btn btn-primary">Ajouter</a>
    </div>

{% endblock %}
