{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <br>
        <h1>Classe</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ classe.nom }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ classe.annee }}</td>
            </tr>
            <tr>
                <th>Elèves</th>
                {% for enfant in classe.enfants %}
                    <tr>
                        <td>{{ enfant.nom }}</td>
                        <td>{{ enfant.prenom }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <a href="{{ path('classe_index') }}" class="btn btn-primary" >Retour</a>

        <a href="{{ path('classe_edit', {'id': classe.id}) }}" class="btn btn-primary">edit</a>
    </div>
{% endblock %}
