{% extends 'base.html.twig' %}

{% block title %}PhotoDeClasse index{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <h1>PhotoDeClasse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo_de_classe in photo_de_classes %}
            <tr>
                <td>{{ photo_de_classe.id }}</td>
                <td>{{ photo_de_classe.annee ? photo_de_classe.annee|date('Y-m-d') : '' }}</td>
                <td>{{ photo_de_classe.contenu }}</td>
                <td>
                    <a href="{{ path('photo_de_classe_show', {'id': photo_de_classe.id}) }}">show</a>
                    <a href="{{ path('photo_de_classe_edit', {'id': photo_de_classe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photo_de_classe_new') }}">Create new</a>
{% endblock %}
