{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <h1>Enfant</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enfant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enfant.prenom }}</td>
            </tr>
            <tr>
                <th>Carnet de correspondance</th>

                <td>{{ enfant.carnetDeCorrespondance.id }}</td>
                <td><a href="{{ path('carnet_de_correspondance_show', {'id': enfant.carnetDeCorrespondance.id, 'idEnfant' : enfant.id, 'idUser':idUser}) }}" class="btn btn-primary">Voir</a></td>
            </tr>
            <tr>
                <th>Photo de classe</th>
                <td>
                    <table>
                        {% for classe in enfant.classes %}
                            <tr>
                                <td>{{ classe.nom }}</td>
                                <td>{{ classe.annee }}</td>
                                <td>Voir</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>Maître</th>
                <td>
                    <table>
                        {% for classe in enfant.classes %}
                            {% if classe.etat == true %}
                                <tr>
                                    <td>{{ classe.maitre }}</td>
                                    <td><a href="{{ path('message_new',{'idUser':idUser}) }}" class="btn btn-primary">Contacter</a></td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                    </table>
                </td>
            </tr>
            </tbody>
        </table>



        <a href="{{ path('user_show', {'id':idUser}) }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
