{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="text-center mt-5">
    <h1>Articles de l'ecole</h1>
    {% if app.user != null %}
        {% for role in app.user.roles %}
            {% if role == "ROLE_ADMIN" %}
                <a href="{{ path('article_new') }}" class="btn btn-primary mt-5  ">Create new</a>
            {% endif %}
        {% endfor %}
    {% endif %}
<div class="row">


    {% for article in articles %}
    <div class="col-sm-4 d-flex justify-content-center mt-5 ">
    <div class="card" style="width: 18rem;">
        {% if article.Video != "" %}
            <iframe class="card-img-top"  src="https://www.youtube.com/embed/{{ article.Video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
        <img class="card-img-top" src="{{ vich_uploader_asset(article,"imageFile") }}" alt="{{ article.Titre }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ article.Titre }}</h5>
            <p class="card-text">{{ article.Texte }}</p>
            {% if app.user != null %}
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary">Editer</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    </div>
        {% else%}
                <div colspan="4">no records found</div>
    {% endfor %}
</div>


</div>

{% endblock %}
